@charset "UTF-8";
/*TELA CELULAR
CELULAR (SMARTPHONES EM GERAL): DE 600PX ATÉ 768PX*/

@media screen and (max-width: 768px) {

    /* Import das fontes do Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

    /* Variáveis CSS (Cores e Fontes) */
    :root {
        --corzinza: #2D322D;
        --corvermelha: #B80007;
        --cormostarda: #EF9B07;
        --corverde: #AEA700;
        --cormarrom: #B8580A;
        --corbranca: #fff;

        --fonte1: "Quicksand", sans-serif;
        --font2: "BBH Bogle", sans-serif;
    }

    /* RESET E GLOBAIS */
    * {
        padding: 0px;
        margin: 0px;
        font-family: "Quicksand", sans-serif;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    legend {
        font-family: var(--font2);
    }

    main {
        background-color: rgb(255, 255, 255);
    }

    /* --- HEADER --- */
    header {
        background-color: var(--corvermelha);
        display: flex;
        flex-direction: row;
        /* Coloca um ao lado do outro */
        align-items: center;
        /* Centraliza verticalmente */
        justify-content: flex-start;
        /* Manda tudo para a ESQUERDA */
        gap: 15px;
        /* Espaço entre logo e texto */
        padding: 10px;
        color: var(--corbranca);
        padding-bottom: 1px;
        width: 100%;
    }

    .container1 {
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        height: 120px;
        /* Define o tamanho desejado */
        width: auto;
        margin: 0;
    }

    .titulo-principal h1 {
        font-size: 2.0em;
        margin: 0;
        padding: 10px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    #celular-frase-principal {
        display: none;
        /*area que tira alguns itens*/
    }

    .frase-principal {
        text-align: center;
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    /* --- NAVEGAÇÃO (NAV) --- */
    nav {
        color: white;
        background-color: var(--cormostarda);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: justify;

        box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.5);
        /* Centraliza os botões */
    }

    .menu {


        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        gap: 50px;
    }

    .menu1,
    .menu2,
    .menu3 {
        background-color: rgba(0, 0, 0, 0.1);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 15px;
        display: inline-block;
        border: 1px solid white;
        padding: 10px 10px;
        border-radius: 10px;
    }

    nav a:active {
        background-color: var(--corvermelha);
        border-color: var(--corvermelha);
        transition: 0.7s;

    }

    /* --- CONTEÚDO PRINCIPAL --- */

    .container2 {
        width: 100%;
    }

    .container3 {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;

    }

    .conteiner-video {

        height: auto;

        padding: 13px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 2px;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .video {



        height: auto;
        width: 100%;
        max-width: 698px;




        align-self: center;



    }


    .container-titulo-diferencial {

        padding-top: 17px;
        padding-bottom: 15px;
        font-size: 20px;
        display: flex;
        flex: row wrap;
        justify-content: space-evenly;
    }

    .titulo-diferencial {
        color: var(--corvermelha);
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
        font-family: var(--font2);
        flex-grow: 0;
        flex-shrink: 0;
    }

    .container-texto-diferencial {


        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        padding: 10px;
    }

    .titulo-a-texto-diferencial {



        width: 40%;


    }

    .titulo-a-texto-diferencial h3 {
        text-align: center;
        color: var(--corzinza);
        padding: 10px;
        font-family: var(--font2);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

        line-height: 1.3;
        font-size: 21px;

    }

    .texto-a-texto-diferencial {

        text-align: justify;
        line-height: 1.4;
        text-indent: 30px;
        text-decoration: double;
        text-align: justify;
        font-size: 16px;



        border-radius: 5px;

        padding: 10px;
        width: 55%;

    }



    .conteiner-img-r {
        display: none;
    }

    .conteiner-img-p {
        display: flex;
        justify-content: center;
        padding: 20px;
        padding-top: 37px;
        padding-bottom: 32px;

    }

    .img-p-diferencial {
        width: 100%;
        max-width: 698px;
        box-shadow: -18px 20px 50px #bd5500;
        border: 2px solid #bd5500;

    }

    .img-p-diferencial img {
        width: 100%;
        height: auto;

    }
}