@charset "UTF-8";
/*TELA CELULAR
CELULAR (SMARTPHONES EM GERAL): DE 600PX ATÉ 768PX*/

@media screen and (max-width: 768px) {



    /* Import das fontes do Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



    /* Variáveis CSS (Cores e Fontes) */


    :root {
        --corzinza: #2D322D;
        --corvermelha: #B80007;
        --cormostarda: #EF9B07;
        --corverde: #AEA700;
        --cormarrom: #B8580A;
        --corbranca: #fff;

        --fonte1: font-family: "Quicksand", sans-serif;

    }

    * {
        padding: 0px;
        margin: 0px;
        font-family: "Quicksand", sans-serif;
        ;
    }

    header {
        background-color: var(--corvermelha);
        display: flex;
        /* Ativa o modo flexível */
        flex-direction: row;
        /* Coloca um ao lado do outro */
        align-items: center;
        /* Centraliza verticalmente (para o texto não ficar no topo) */
        justify-content: flex-start;
        /* Manda tudo para a ESQUERDA da tela */
        gap: 15px;
        /* Dá um espaço de 15px entre a logo e o texto */
        padding: 10px;
        color: var(--corbranca);


    }

    /* CONTAINER PAI EXTERNO */

    .container1 {
        width: 100%;

    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;


    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .logo img {
        /* Define o tamanho desejado */
        height: 100px;
        width: auto;

        margin: 0;


    }


    .titulo-principal h1 {

        font-size: 1.8em;
        margin: 0;
        padding: 10px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);


    }

    .frase-principal {
        text-align: center;
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

    }

    .container2 {
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        gap: 20px;

    }

    .menu1, .menu2, .menu3{
        background-color: rgba(0, 0, 0, 0.1);
        text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 15px;
        display: inline-block;
        border: 1px solid white;
        padding: 10px 10px;
        border-radius: 10px;
        

    }

    /* Estilo da caixa de navegação*/
    nav {
        color: white;
        background-color: var(--cormostarda);
        padding: 5px;
        text-align: justify;
        /* Centraliza os botões */
        
    }

    /* Estilo dos LINKS (Botões) */
    nav a {
        /*color: #fff;
        text-decoration: none;
        /* Tira o sublinhado */
        /*font-size: 12px;
        font-weight: bold;

        /* AQUI ESTÁ O SEGREDO DO BOTÃO */
        /*display: inline-block;
        /* Necessário para dar tamanho ao botão */
        /*padding: 10px 20px;
        /* Espaço interno do botão */
       /* margin: 5px;
        /* Espaço entre um botão e outro */

        /* A BORDA E O VISUAL */
        /*border: 1px solid white;
        /* Agora a borda aparece (Espessura, Tipo, Cor) */
        /*border-radius: 10px;
        /* Bordas arredondadas */
        /*background-color: rgba(0, 0, 0, 0.1);
        /* Fundo levemente escuro para destacar */
        /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    }

    /* Efeito visual quando clica (Active) em vez de Hover */
    nav a:active {
        background-color: var(--corvermelha);
        border-color: var(--corvermelha);
        transition: 0.7s;
    }

    */
}