@charset "UTF-8";
/*TELA CELULAR
CELULAR (SMARTPHONES EM GERAL): DE 600PX ATÉ 768PX*/

@media screen and (max-width: 768px) {

    * {
        padding: 0px;
        margin: 0px;
    }

    header {
        background-color: rgb(44, 255, 255);


    }
    .logo img {
        height: 15vh;
        
        
    }



}