@charset "UTF-8";
/*TELA CELULAR
CELULAR (SMARTPHONES EM GERAL): DE 600PX ATÉ 768PX*/

@media screen and (max-width: 768px) {



    /* Import das fontes do Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



    /* Variáveis CSS (Cores e Fontes) */


    :root {
        --corzinza: #2D322D;
        --corvermelha: #B80007;
        --cormostarda: #EF9B07;
        --corverde: #AEA700;
        --cormarrom: #B8580A;
        --corbranca: #fff;

        --fonte1: font-family: "Quicksand", sans-serif;

    }

    * {
        padding: 0px;
        margin: 0px;
        font-family: "Quicksand", sans-serif;
        ;
    }

    header {
        background-color: var(--corvermelha);
        display: flex;
        /* Ativa o modo flexível */
        flex-direction: row;
        /* Coloca um ao lado do outro */
        align-items: center;
        /* Centraliza verticalmente (para o texto não ficar no topo) */
        justify-content: flex-start;
        /* Manda tudo para a ESQUERDA da tela */
        gap: 15px;
        /* Dá um espaço de 15px entre a logo e o texto */
        padding: 10px;
        color: var(--corbranca);
        padding-bottom: 1px;
        width: 100%;


    }

    /* CONTAINER PAI EXTERNO */

    .container1 {
        width: 100%;

    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;



    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .logo img {
        /* Define o tamanho desejado */
        height: 120px;
        width: auto;

        margin: 0;


    }


    .titulo-principal h1 {

        font-size: 2.0em;
        margin: 0;
        padding: 10px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);


    }

    /*area que tira alguns itens*/
    #celular-frase-principal {
        display: none;
    }

    .frase-principal {

        text-align: center;
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

    }

    .container2 {
        width: 100%;
    }

    .container3 {
        background-color: aqua;


        padding: 10px;
        display: flex;
        flex-direction: column;


    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        gap: 50px;

    }

    .menu1,
    .menu2,
    .menu3 {
        background-color: rgba(0, 0, 0, 0.1);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 15px;
        display: inline-block;
        border: 1px solid white;
        padding: 10px 10px;
        border-radius: 10px;


    }

    /* Estilo da caixa de navegação*/
    nav {
        color: white;
        background-color: var(--cormostarda);
        padding-top: 10px;
        padding-bottom: 10px;

        text-align: justify;
        /* Centraliza os botões */


    }


    nav a:active {
        background-color: var(--corvermelha);
        border-color: var(--corvermelha);
        transition: 0.7s;
    }

    .container3 {
        width: 100%;
    }

    main {
        background-color: #b8580a70;
    }

    .video {
        display: flex;
        flex-direction: row;
        background-color: #B80007;
        width: 100%;
    }

    .conteiner-img-r {
        display: none;
    }

    .conteiner-img-p {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .img-p-diferencial {
        width: 90%;
        max-width: 400px;
    }

    .img-p-diferencial img {
        width: 100%;
        height: auto;
    }
}